*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

main > section > div.card{
  margin: 13px;
  display: inline-block;
  background-color: rgb(237, 237, 255);
  width: 340px;
  height: 470px;
  box-shadow: 0px 0px 15px #00fff6;
  border-radius: 5px;
}

body{
  background-image: url(characters/image.jpg);
  background-size: contain;
  /* background-repeat: no-repeat; */
}

header > h1.titulopag{
  color: white;
  font-size: 60px;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

section{
  text-align: center;
}

main > section > div.card > img{
  display: block;
  margin: 10px auto 5px;
  height: 70%;
  filter: drop-shadow(0 0 6px rgb(0, 0, 0));
}

main > section > div.card > p.titulo{
  font-size: 28px;
  font-weight: bold;
}

main > section > div.card > p.text.titulo{ 
  padding: 0 0 0 10px;
  text-align: center;
}

main > section > div.card > p.contenido{
  font-size: 16px;
  padding: 0 0 0 10px;
  text-align: left;
}